.primaryTitle
{
  font-size: 180%;
  font-weight:bold;
  line-height:2.5em;
}

.middleTitle
{
  font-size: 150%;
  font-weight:bold;
  line-height:2em;
}

.subTitle
{
  font-size: 120%;
  font-weight:bold;
  line-height:1.8em;
}


.emp {
    -webkit-text-emphasis: sesame;
    text-emphasis: sesame;
  }
  
.block_indent
{
  text-indent: 2em;
}