*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

#menu
{
  width: 100vw;
  height:5vh;
  padding:10px;
}

.row
{
  width:100%;
}

#awsome_title {
  text-align:left;
  vertical-align:initial;
  vertical-align:middle;
  min-width:10vw;
  padding:5px;
}

#toPDF
{
  padding:initial;
  padding-left:3px;
  display: block;
  text-decoration: none;
  float:right;
  transition: .6s;
  font-weight: bold;
}

/***** Editor style *****/
#main
{
  margin:initial;
  padding:initial;
  width:initial;
  height:initial;
  max-width:initial;
  text-align:left;
  width:100vw;
  height: 90vh;
}

#editor
{
  height: 100%;
}

#main
{
  margin:0;
  height: 100vh;
}


textarea, .contain {
  display:inline-block;
  width:48vw;
  height:95%;
  vertical-align:top;
  text-align:left;
}

textarea{
  padding:20px;
  background-color: #f6f6f6;
  border-right: 1px solid #ccc;
  outline:none;
  resize:none;
  border:none;
  font-family: 'Noto Serif JP', sans-serif;
}

.contain {
  padding:20px;
}
.contain .vertical
{
    text-align:end;
}

#result{
  overflow:auto;
  font-family: 'Noto Serif JP', sans-serif;
}

#preview #pagebreak
{
  page-break-before: always;
}

.vertical #pagebreak
{
  right:0;
  top: 0;
  height: 172mm;
  width: 251mm;
  page-break-after: always;
}

#pagebreak::after{
  content:"----------改ページ-------------";
}


.vertical > #result {
  /*padding:10px 0;*/
  writing-mode: bertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  text-align:justify;
/*  display:inline-block;*/
  word-break:normal;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;
  line-break:loose;
  width:45vw;
  height:80vh;
  line-height: 2em;
  font-size: calc(100% * 1vw);
}

.pdf
{
  width:100vw;
}

.vertical.pdf #result
{
  width:100vw;
  position:aboluste;
  right:0;
  top: 0;
}

/***** footer *****/
.footer
{
  text-align:center;
  vertical-align: center;
}