*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

#menu
{
  width: 100vw;
  height:0vh;
}

.row
{
  width:100%;
}

#awsome_title {
  text-align:left;
  vertical-align:initial;
  vertical-align:middle;
  min-width:10vw;
  padding:5px;
}

#toPDF
{
  position:fixed;
  bottom:10px;
  right:10px;
  
}

/***** Editor style *****/
#main
{
  margin:initial;
  padding:initial;
  width:initial;
  height:initial;
  max-width:initial;
  text-align:center;
  vertical-align: middle;
  width:98vw;
  height: 95vh;
  padding :10px;
}

#editor
{
  height: 100%;
  border-right:1px solid #aaa;
}


textarea, .contain {
  display:inline-block;
  width:45%;
  height:90%;
  vertical-align:top;
  text-align:left;
}

textarea{
  padding:20px;
  border-right: 1px solid #ccc;
  outline:none;
  resize:none;
  border:none;
/*  font-family: 'Noto Serif JP', sans-serif;*/
  font-family:sans-serif;
  font-size:15px;
}

.contain .vertical
{
  text-align:end;
}


#result{
  overflow:auto;
  font-family: 'Noto Serif JP', sans-serif;
  width:100%;
  height:93vh;
}

#preview #pagebreak
{
  page-break-before: always;
}

.vertical #pagebreak
{
  right:0;
  top: 0;
  height: 172mm;
  width: 251mm;
  page-break-after: always;
}

.preview
{
  width:100vw;
  text-align:center;
  margin-top:20px;
}

.preview.vertical
{
  text-align:center;
  width:95vw;
  height: 80vh;
  background:#ccc;
}

.preview #result
{
  text-align:left;
  overflow:initial;
}

.preview.vertical #result
{
  font-size:15px;
  width:90vw;
  height: 600px;
  column-gap: 100px;

}

.vertical > #result {
  writing-mode: bertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  text-align:justify;
  word-break:normal;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;
  line-break:loose;
  line-height: 2em;
  column-gap:30px;
  width:45vw;
  font-size: calc(100% * 1vw);
}

/***** footer *****/
.footer
{
  text-align:center;
  vertical-align: center;
}