.vertical
{
    text-align:end;
}

.vertical .preview{
  overflow:auto;
  /*font-family: 'Noto Serif JP', sans-serif;*/
  height:600px;
  margin-left: 10px;
  /*padding:10px 0;*/
  writing-mode: bertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  text-align:justify;
  display:inline-block;
  word-break:normal;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;
  line-break:loose;
  line-height: 2em;
  font-size: 15px;
}
