*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.container
{
  margin-left:0;
  padding-left:0;
  text-align:left;
  width:100%;
}

.title {
  color:initial;
  font-size:initial;
  text-shadow:initial;
  text-align:center;
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  color: #efefef;
}

.title h1{
  writing-mode: bertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  font-size: 150%;
  display:inline-block;
  text-align:left;
  font-family: 'Noto Serif JP', sans-serif;
  color:#dcdddd;
}

#editor
{
  min-height: 600px;
  min-width:500px;
  margin-left: 10px;
}

.emp {
  -webkit-text-emphasis: sesame;
  text-emphasis: sesame;
}


.contain
{
    min-height: 500px;
    text-align:left;
}

.contain .vertical
{
    height: 600px;
    text-align:end;
}

textarea {
  resize: vertical;
  min-height: 500px;
}

#result{
  overflow:auto;
  /*font-family: 'Noto Serif JP', sans-serif;*/
  height:600px;
  width:505px;
  margin-left: 10px;
}

.vertical > #result {
  padding:10px 0;
  writing-mode: bertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  text-align:justify;
  display:inline-block;
  word-break:normal;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;
  line-break:loose;
  width:505px;
  line-height: 2em;
}

.primaryTitle
{
  font-size: 180%;
  font-weight:bold;
  padding:initial;
  padding-left: 10px auto 5px 5px;
  line-height:2.5em;
}

.middleTitle
{
  font-size: 150%;
  font-weight:bold;
  padding:initial;
  padding-left: 10px auto 5px 5px;
  line-height:2em;
}

.subTitle
{
  font-size: 120%;
  font-weight:bold;
  padding:initial;
  padding-left: 10px auto 5px 5px;
  line-height:1.8em;
}